@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Merriweather');

html {
  font-size: 10px;
}
body {
  color: #202531;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 70px;
  color: #468ed7;
  margin-top: 0;
  margin-bottom: 10px;
}

h2 {
  font-size: 35px;
  font-size: 3.5rem;
}

h3 {
  font-size: 28px;
  font-size: 2.8rem;
}

p, span, a, strong, ul, li {
  /*font-family: 'Merriweather', serif;*/
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p, ul, li, strong {
  font-size: 19px;
  font-size: 1.9rem;
  -webkit-font-smoothing:antialiased;
  line-height: 1.6;
}

/* GRID */

.wrapper {
  max-width: 900px;
  margin: auto;
}

.wrapper--lg {
  max-width: 1200px;
}

.col {
  float: left;
  padding: 0 20px;
  box-sizing: border-box;
}

.one-third {
  width: 33.33%;
}

.one-fourth {
  width: 25%;
}

.one-fifth {
  width: 20%;
}

img {
  max-width: 100%;
}

.intro {
  padding: 8vh;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.intro p {
  /*font-size: 25px;*/
}

.updated {
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  position: absolute;
  right: -52px;
  top: 50px;
  font-size: 16px;
  background: #f3d04f;
  color: #fff;
  padding: 7px 45px;
}

.reasons {
  margin-top: 12vh;
}

.reasons:after {
  content: '';
  clear: both;
  display: table;
}

.reason h3{
  font-size: 2.3vh;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 1px;
}

.reason p{
  font-size: 15px;
  font-family: 'Lato';
  text-align: center;
  margin-top: 10px;
}

.img {
  height: 170px;
  text-align: center;
}

.img img {
  max-height: 170px;
  box-sizing: border-box;
}

.reasons .col:first-child .img img {
  max-height: 150px;
      margin-top: 10px;
}

.reasons .col:nth-child(2) .img img {
  max-height: 180px;
}

.content-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.link {
    padding: 1em;
    background: #468ed7;
    margin: 0 -20px;
    border: 1px solid #468ed7;
    border-right: 1px solid #ebebeb;
    color: #fff;
    font-size: 18px;
    font-family: 'Lato';
    display: block;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease;
}

a.link.active {
    color: #468ed7;
    font-weight: 700;
    background: #fff;
    border: 1px solid #468ed7;
}

.content {
  padding: 4em;
}

.steps {
  padding: 0 50px;
}
