@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Merriweather');

html {
  font-size: 10px;
}
body {
  color: #202531;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 70px;
  color: #468ed7;
  margin-top: 0;
  margin-bottom: 10px;
}

h2 {
  font-size: 35px;
  font-size: 3.5rem;
  border-bottom: 1px solid #4fc945;
  margin-top: 3em;
  padding-bottom: 15px;
}

h3 {
  font-size: 28px;
  font-size: 2.8rem;
}

p, span, a, strong, ul, li, div {
  /*font-family: 'Merriweather', serif;*/
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

li {
    margin-bottom: 7px;
}

a {
    color: #468ed7;
    text-decoration: none;
}

p {
  margin-top: 5px;
}

p, ul, li, strong {
  font-size: 19px;
  font-size: 1.9rem;
  -webkit-font-smoothing:antialiased;
  line-height: 1.6;
}


/* GRID */

.wrapper {
  max-width: 900px;
  margin: auto;
}

.wrapper--lg {
  max-width: 1200px;
}

.col {
  float: left;
  padding: 0 20px;
  box-sizing: border-box;
}

.one-third {
  width: 33.33%;
}

.one-fourth {
  width: 25%;
}

.one-fifth {
  width: 20%;
}

img {
  max-width: 100%;
}

.intro {
  padding: 8vh;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.intro p {
  /*font-size: 25px;*/
}

.updated {
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  position: absolute;
  right: -52px;
  top: 50px;
  font-size: 13px;
  background: #f3d04f;
  color: #fff;
  padding: 7px 45px;
}

.reasons {
  margin-top: 12vh;
}

.reasons:after {
  content: '';
  clear: both;
  display: table;
}

.reason h3{
  font-size: 2.3vh;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 1px;
}

.reason p{
  font-size: 15px;
  font-family: 'Lato';
  text-align: center;
  margin-top: 10px;
}

.img {
  height: 170px;
  text-align: center;
}

.img img {
  max-height: 170px;
  box-sizing: border-box;
}

.reasons .col:first-child .img img {
  max-height: 150px;
      margin-top: 10px;
}

.reasons .col:nth-child(2) .img img {
  max-height: 180px;
}

.content-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.content-nav.scroll-to-fixed-fixed {
  bottom: initial;
}

.scroll-to-fixed-fixed a.link {
    background: #c3c3c3;
}

.content-nav .link {
    padding: 1em;
    background: #468ed7;
    margin: 0 -20px;
    border: 1px solid #c3c3c3;
    border-right: 1px solid #ebebeb;
    color: #fff;
    font-size: 18px;
    font-family: 'Lato';
    display: block;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease;
}

.content-nav .link:hover{
  border: 1px solid #468ed7;
}


.content-nav a.link.active {
  font-weight: 700;
  background: #468ed7;
  border: 1px solid #468ed7;
}

/*.content {
  padding:0em;
}*/

.steps {
  padding: 0 50px;
}

.form-container {
  width: 100%;
  height: 300px;
  margin:0 auto;
  background-image: repeating-linear-gradient(135deg, #e66a63 0px, #e66a63 25px, transparent 25px, transparent 40px, #468ed7 40px, #468ed7 65px, transparent 65px, transparent 82px);
  padding: 12px;
  padding: 10px 15px;
  box-sizing: border-box;
}

.form{
  background: white;
  width: 100%;
  height: 97%;
  text-align: center;
  margin-bottom: 10em;
}



.form label {
    color: #5a5a5a;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lato';
    padding-top: .5em;
    display: block;
}

.form input {
    margin-top: 1em;
}

input#tlemail {
    font-size: 16px;
    height: 40px;
    width: 250px !important;
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    transition: all .3s ease;
}

input#tlemail:focus {
    outline: none;
    border: 1px solid #468ed7;
}

input[type="submit"] {
    display: inline-block;
    height: 40px;
    vertical-align: top;
    border: 0;
    background: #e66a63;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    padding: 0 16px;
    cursor: pointer;
}


@media screen and (max-width:767px) {
  p, ul, li, strong {
    font-size: 16px;
    font-size: 1.6rem;
  }

  .steps {
    padding: 0 25px;
  }

  ul {
    -webkit-padding-start: 20px;
  }

  span.desk {
    display: none;
  }

  .intro {
    height: auto;
    padding: 3em 25px;
    overflow: initial;
  }

  h1 {
    font-size: 50px;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .reasons .col.one-third.reason {
    width: 100%;
  }

  .updated {
    display: none;
  }

  .content-nav {
    position: absolute;
    bottom: -3em;
  }
}

.jssocials {
  margin-bottom: 5em;
  font-size: 16px;
}

a.jssocials-share-link {
    letter-spacing: 1px;
    font-weight: 100;
}

.jssocials-share {
  margin-right: 1em;
}
